@{
    ViewBag.Title = "About";
}
<section id="page-header">
    <div class="row">
        <h1>About Traveler</h1>
        <p>Lorem ipsum dolor sit amet, vidisse definitiones cum ad, at quis putant postulant vim. Ne his postea inermis detracto, in vel minimum similique, usu quem scriptorem cu. Ut enim necessitatibus eum, ad eruditi prodesset mel, duo no feugiat appareat. Error urbanitas adolescens eum ut, at doctus complectitur vix. Est ne blandit salutandi deterruisset, erant graecis mel eu, eu ferri concludaturque qui. Mei no case everti invenire, no putent temporibus necessitatibus est. Sit at nibh bonorum facilisi.

        Habeo autem volumus ius et. Tale sapientem ex qui. Duo eu veniam omittam. Ad malorum voluptatum vis, an movet principes vim, lorem nonumy mentitum mei ei.

        At iriure aeterno indoctum per, ad sed quod probatus. Eu vero debitis mel, cum legere aperiam cu, ex quo mucius graecis vituperatoribus. Eos oblique similique at, cu ius delicata intellegebat, at nec mutat maluisset philosophia. Sed ex possim abhorreant, ius ad dolorem eloquentiam, alii delicata disputationi has ea. Ei mei elit omnesque, nam ludus option legimus ut. Minim impedit vituperata ut quo, ius te suas postulant aliquando.

        Cum epicuri gloriatur omittantur id, eu integre ornatus mea, no sit eros facete definitionem. Est te mentitum voluptua, eu vel wisi indoctum accommodare. Id solet nonumes theophrastus mei, mea ad sale phaedrum recteque. An rebum reformidans mei, dicat inermis in usu. Augue doming voluptatibus et mel, modus indoctum quo ex. Eam rebum albucius repudiandae at, ex est latine veritus feugait. Sed brute delectus menandri et, solet nostro et est, brute eligendi ad duo.

        Eius primis euismod at his, sed no choro erroribus, an brute exerci mentitum cum. Ignota perpetua an vel, at choro dolore pri, vis possim scripta ne. Mel ut erat principes assentior, et has reprimique interesset cotidieque. Ut mea reque nusquam consequat, quo an diceret moderatius. Nibh assum volutpat ex pri. </p>
    </div>
</section>