@model Traveler.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<section id="page-header">
    <div class="row">
        <h1>Contact Traveler</h1>
        <p>Drop us a message, We will get back to you.</p>
    </div>
</section>
<section id="form">
    <div class="row">
        <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
        <form class="form-horizontal" method="post" >
            @if (ViewBag.Message != null) {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&close;</button>
                    @ViewBag.Message.
                </div>
            }
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-4">
                        <input asp-for="Name" type="text" class="form-control" id="inputName" placeholder="Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-4">
                        <input asp-for="Email" type="email" class="form-control" id="inputEmail" placeholder="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>                
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                    <div class="col-lg-4">
                        <textarea asp-for="Message" class="form-control" rows="3" id="textArea"></textarea>
                        <span asp-validation-for="Message"></span>
                        <span class="help-block">Send your message to us.</span>
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
