@{ 
    ViewBag.Title = "Home";
}
<section id="page-header">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>The World</h1>
            <p>This will be a fun website soon!</p>
        </div>
    </div>
</section>

<section id="form">
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">Date</label>
                <div class="col-lg-4">
                    <input class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Location</label>
                <div class="col-lg-4">
                    <input class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-2">
                    <input type="submit" value="Add" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</section>
